pr2/PCFGs/custom-models/result-*/*Gt*
tri-test-*
result-*
Gm1-*
Gm2
Gm3
Gm4
Gt-0
G-1
**/custom-models
**/custom-models copy
**/triangles-algorithms copy
**/triangles-algorithms
results-question*
log-commands.txt
datasets
grammars